*{
    width: 100%;
    padding: 15px;
}

html{
    background-color: #284b63;
    color:#ffffff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.95em;
    line-height: 1.5em;
}

body{
    margin: 0;
    font-style: normal;
    width: 100%;
    padding:15px;
}


::selection{
    background-color:#ffffff;
    color: #284b63;
}

h1{
    font-weight: bold;
    margin:auto;
    color: #ffffff;
    line-height: 2.5em;
}